<phpunit bootstrap="./tests/phpunit/bootstrap.php">
	<testsuites>
		<testsuite name="All Tests">
			<directory>./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">classes/</directory>
			<directory suffix=".php">languages/</directory>
			<exclude>
				<directory>./tests/phpunit/</directory>
				<directory>./views</directory>
				<file>./start.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>